/* Default styles */
.skeleton-image {
    width: 100%;
    height: auto;
    max-width: 190px;
  }
  
  /* Medium screens (e.g., tablets) */
  @media (max-width: 768px) {
    .skeleton-image {
      max-width: 150px;  /* Smaller max-width on tablets */
    }
  }
  
  /* Small screens (e.g., phones) */
  @media (max-width: 480px) {
    .skeleton-image {
      max-width: 120px;  
    }
  }
  